{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% if this.image %}
{% set image = site.get(this.path + "/" + this.image) %}
{% endif %}

{% block body %}

{% if image %}
<header class="bg-image-full" style="background: url('{{ image.path|url }}') no-repeat center; background-size: 100%;">
  <div class="" style="height: 200px;"></div>
  <div class="row-fluid">
    {% if image.author %}
    <div class="col-sm-6 offset-sm-3">
      <p class="px-2" style="background-color: rgba(245, 245, 245, 0.8);">
      <a href="{{ image.url }}">{{ image.title}}</a>,
      de
      {% if image.author %}
        {{ image.author }}
      {%- else %}
        <a href="{{ image.author_url }}">{{ image.author }}</a>
      {%- endif %},
      {% if image.license %}
        {{ image.license }}
      {%- else %}
        publié sous licence <a href="{{ image.license_url }}">{{ image.license }}</a>
      {%- endif -%}
      .
      </p>
    </div>

{% endif %}
  </div>
</header>
{% endif %}


      <div class="row mx-0">
        <div class="col-sm-6 offset-sm-3">
          <h1>{{ this.title }}</h1>
        </div>
      </div>
  {% for item in this.body.blocks %}
          {{ item }}
  {% endfor %}
{% endblock %}
