{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block moremeta %}
  <meta name="description" content="{{ this.description }}">
  <meta name="author" content="{{ config.PROJECT.author }}">
  <meta name="keywords" content="
    {%- for tag in this.tags -%}
      {{- tag|replace("_", " ") }},
    {%- endfor -%}
  " />
{% endblock %}

{% if this.image %}
{% set image = site.get(this.path + "/" + this.image) %}
{% endif %}

{% block morehead %}
  {{ super() }}
  {% if this.morehead %}
    {{ this.morehead }}
  {% endif %}
{% endblock %}


{% block opengraph %}
<meta property="og:title" content="{{ this.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ this|url(external=true) }}" />
{% if image %}<meta property="og:image" content="{{ image|url(external=true) }}" />{% endif %}
<meta property="og:description" content="{{ this.description }}" />
<meta property="og:locale" content="{{ config.PROJECT.locale }}" />
<meta property="og:site_name" content="{{ config.PROJECT.name }}" />
<meta property="og:article:published_time" content="{{ this.date }}" />
<meta property="og:article:author" content="{{ config.PROJECT.author }}" />
{% for tag in this.tags -%}
  <meta property="og:article:tag" content="{{ tag|replace("_", " ") }}" />
{% endfor %}

<meta name="description" content="{{ this.description }}" />
<meta name="author" content="{{ config.PROJECT.author }}" />
{% endblock %}

{% block body %}
{% if image %}
<header class="bg-image-full" style="background: url('{{ image.path|url }}') no-repeat center; background-size: 100%;">
  <div class="" style="height: 200px;"></div>
  <div class="row-fluid">
    {% if image.author %}
    <div class="col-sm-6 offset-sm-3">
      <p class="px-2" style="background-color: rgba(245, 245, 245, 0.8);">
      <a href="{{ image.url }}">{{ image.title}}</a>,
      de
      {% if image.author %}
        {{ image.author }}
      {%- else %}
        <a href="{{ image.author_url }}">{{ image.author }}</a>
      {%- endif %},
      {% if image.license %}
        {{ image.license }}
      {%- else %}
        publié sous licence <a href="{{ image.license_url }}">{{ image.license }}</a>
      {%- endif -%}
      .
      </p>
    </div>

{% endif %}
  </div>
</header>
{% endif %}

<article>
<div class="row mx-0">
  <div class="col-sm-8 offset-sm-2">
    <h1>{{ this.title }}</h1>

    {% if this.toc %}
    <ul class="bg-light">
      {% for item in this.body.toc recursive %}
        {% if this.toc >= loop.depth %}
          <li>
            <a href="#{{ item.anchor }}">{{ item.title }}</a>
            {% if item.children %}
              <ul>
                {{ loop(item.children) }}
              </ul>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

{% block content %}
<div class="row mx-0">
  <div class="col-sm-8 offset-sm-2">
    {{ this.body }}
  </div>
</div>
{% endblock %}

<div class="row mx-0">
  <div class="col-sm-8 offset-sm-2">
    {% if this.tags %}
    <div>
      {% for tag in this.tags -%}
      <span class="badge badge-pill badge-info">
          <a class="text-light" href="{{ ('/blog@tag/' ~ tag)|url }}">
            {{ tag|replace("_", " ") }}
          </a>
      </span>
      {% endfor %}
    </div>
    {% endif %}

  </div>
</div>
</article>

{% endblock %}
