{% extends "layout.html" %}

{% block title %}Étiquette « {{ this.tag|replace("_", " ") }} »{% endblock %}

{% block body %}
      <div class="row mx-0">
        <div class="col-sm-6 offset-sm-3">
          <h1>Étiquette : {{ this.tag|replace("_", " ") }}</h1>
        </div>
      </div>

<div class="card-deck">
  {% for item in this.items %}
    <div class="card mb-4" style="min-width: 300px; max-width: 400px;">
      <h3 class="card-header"><a href="{{ item.path|url }}">{{ item.title }}</a></h3>
      {% if item.image %}
        {% set image = site.get(item.path + "/" + item.image) %}
        <img style="width: 100%; height: 10em; object-fit: cover; display: block;" src="{{ image.thumbnail(400)|url }}" alt="{{ image.title }}">
      {% endif %}
      {% if item.description %}
        <div class="card-body">
          <p class="card-text">{{ item.description }}</p>
        </div>

        {% if item.tags %}
        <div class="card-bottom px-3 pb-1">
          <p class="card-text">
          {% for tag in item.tags if tag != this.tag -%}
          <span class="badge badge-pill badge-info">
            <a class="text-light" href="{{ ('/blog@tag/' ~ tag)|url }}">
              {{ tag|replace("_", " ") }}
            </a>
          </span>
          {% endfor %}
          </p>
        </div>
        {% endif %}
      {% endif %}
      {% if item.date %}
        <div class="card-footer text-muted text-center">
          {{ item.date|dateformat }}
        </div>
      {% endif %}
    </div>
  {% endfor %}
  </div>
{% endblock %}
