blockquote {
  border: 1px solid #eee;
  border-left: .25rem solid #F39C12;
  border-radius: .25rem;
  margin: 1.25rem;
  padding: 1.25rem;
}

blockquote > p:last-child {
  margin-bottom: 0pt;
}

/* Tableaux */
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}

/* Logo */
#logo {
	animation-name: rotation;
	animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;;
	animation-iteration-count: infinite;
	/* animation-delay: 5s; */
	animation-play-state: paused;
}
#logo:hover {
	animation-play-state: running;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg) scale(1.3, 1.3);
	}
}
